<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <style>
        #left{
            position: absolute;
            left: 50px;
            top: 200px;
        }
    </style>
</head>
<body>
<div id="left">
    <a href="changepassword">Zmień hasło</a>
    <br>
    <a href="register">Zarejestruj się</a>
    <br>
    <a href="login">Zaloguj się</a>
    <br>
    <a href="addpassword">Dodaj hasło</a>
    <br>
    <a href="/">Wyświetl hasła</a>
</div>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/changepassword}" method="post" th:object="${user}">
        <label>Aktualne haslo:</label>
        <input type="text" th:field="*{password}" /><br/>
        <label>Nowe haslo:</label>
        <input type="text" th:field="*{newPassword}" /><br/>
        <label>Powtorz haslo:</label>
        <input type="text" th:field="*{confirmPassword}" /><br/>
        <button type="submit">Zmien haslo</button>

    </form>
</div>
</body>
</html>