<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zmień hasło</title>
    <link th:href = "@{css/main.css}" rel="stylesheet">
</head>
<body>
<div id="nav">
    <a href="changepassword">Zmień hasło</a>
    <a href="register">Zarejestruj się</a>
    <a href="login">Zaloguj się</a>
    <a href="addpassword">Dodaj hasło</a>
    <a href="forgotpassword">Zresetuj hasło</a>
    <a href="/">Wyświetl hasła</a>
</div>
<div align="center">
    <h1>Zmień hasło</h1>
    <form action="#" th:action="@{/changepassword}" method="post" th:object="${user}">
        <label>Aktualne haslo:</label>
        <input type="text" th:field="*{password}" /><br/>
        <label>Nowe haslo:</label>
        <input type="password" th:field="*{newPassword}" /><br/>
        <label>Powtorz haslo:</label>
        <input type="password" th:field="*{confirmPassword}" /><br/>
        <button type="submit">Zmien haslo</button>

    </form>
</div>
</body>
</html>