<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zresetuj hasło</title>
    <link th:href = "@{css/main.css}" rel="stylesheet">
</head>
<body>
<div id="nav">
    <a href="changepassword">Zmień hasło</a>
    <a href="register">Zarejestruj się</a>
    <a href="login">Zaloguj się</a>
    <a href="addpassword">Dodaj hasło</a>
    <a href="/">Wyświetl hasła</a>
</div>
<div align="center">
    <h1>Zresetuj hasło</h1>
    <form action="#" th:action="@{/forgotpassword}" method="post" th:object="${user}">
        <label>Nazwa uzytkownika:</label>
        <input type="text" th:field="*{userName}" pattern="[A-Za-z]{6,}" required
               title = "Dozwolone tylko duże i małe litery alfabetu"/><br/>
        <button type="submit">Zresetuj haslo</button>

    </form>
</div>
</body>
</html>