<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link th:href = "@{css/main.css}" rel="stylesheet">
</head>
<body>
<div id="nav">
    <a href="changepassword">Zmień hasło</a>
    <a href="register">Zarejestruj się</a>
    <a href="login">Zaloguj się</a>
    <a href="addpassword">Dodaj hasło</a>
    <a href="/">Wyświetl hasła</a>
    <a href="forgotpassword">Zresetuj hasło</a>
</div>
<div id="login">
    <span>Obecnie zalogowany </span><b><span th:text="${currentUserName}"></span></b>
</div>

<div align="center">
    <h1>Podaj hasło do menedżera haseł</h1>
    <form action="#" th:action="@{/passwords}" method="get" th:object="${user}">
        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>
        <button type="submit">Wyświetl hasła</button>
    </form>
</div>
</body>
</html>