<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista haseł</title>
    <link th:href = "@{css/main.css}" rel="stylesheet">
</head>
<body>
<div id="nav">
    <a href="changepassword">Zmień hasło</a>
    <a href="register">Zarejestruj się</a>
    <a href="login">Zaloguj się</a>
    <a href="addpassword">Dodaj hasło</a>
    <a href="/">Wyświetl hasła</a>
</div>
<div align="center">
    <h2>Lista haseł</h2>
    <body>
    <tr th:each="Password: ${passwordList}">
        <td th:text="${Password.getSite()}" />
        <td th:text="${Password.getPassword()}" />
        <br>
    </tr>
    </body>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>