<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #left{
            position: absolute;
            left: 50px;
            top: 200px;
        }
    </style>
</head>
<body>
<div id="left">
    <a href="changepassword">Zmień hasło</a>
    <br>
    <a href="register">Zarejestruj się</a>
    <br>
    <a href="login">Zaloguj się</a>
    <br>
    <a href="addpassword">Dodaj hasło</a>
    <br>
    <a href="/">Wyświetl hasła</a>
</div>
Hasła muszą byc identyczne i aktualne hasło musi byc poprawne
</body>
</html>