<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="ISO-8859-1">
        <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Lista haseł</h2>
    <body>
    <tr th:each="Password: ${passwordList}">
        <td th:text="${Password.getSite()}" />
        <td th:text="${Password.getPassword()}" />
        <br>
    </tr>
    </body>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>