<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link th:href = "@{css/main.css}" rel="stylesheet">
</head>
<body>
<div id="nav">
    <a href="changepassword">Zmień hasło</a>
    <a href="register">Zarejestruj się</a>
    <a href="login">Zaloguj się</a>
    <a href="addpassword">Dodaj hasło</a>
    <a href="/">Wyświetl hasła</a>
    <a href="forgotpassword">Zresetuj hasło</a>
</div>
<div align="center">
    <h1>Rejestracja</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>Nazwa:</label>
        <input type="text" th:field="*{userName}" pattern="[A-Za-z0-9]{6,}" required
               title = "Dozwolone tylko duże i małe litery alfabetu oraz cyfry, co najmniej 6 znaków"/><br/>
        <label>Hasło:</label>
        <input type="password" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required
               title="Hasło powinno zawierać jedną cyfrę, jedną wielką literę, jeden znak specjalny i mieć co najmniej 8 znaków"/><br/>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>