<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <style>
        #left{
            position: absolute;
            left: 50px;
            top: 200px;
        }
    </style>
</head>
<body>
<div id="left">
    <a href="changepassword">Zmie? has?o</a>
    <br>
    <a href="register">Zarejestruj si?</a>
    <br>
    <a href="login">Zaloguj si?</a>
    <br>
    <a href="addpassword">Dodaj has?o</a>
    <br>
    <a href="/">Wy?wietl has?a</a>
</div>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>Full name:</label>
        <input type="text" th:field="*{userName}" /><br/>
        <label>Password:</label>
        <input type="text" th:field="*{password}" /><br/>
        <button type="submit">Register</button>

    </form>
</div>
</body>
</html>