<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="ISO-8859-1">
      <title>Registration Success</title>
  <style type="text/css">
    span {
      display: inline-block;
      width: 200px;
      text-align: left;
    }
  </style>
  <style>
    #left{
      position: absolute;
      left: 50px;
      top: 200px;
    }
  </style>
</head>
<body>
<div id="left">
  <a href="changepassword">Zmień hasło</a>
  <br>
  <a href="register">Zarejestruj się</a>
  <br>
  <a href="login">Zaloguj się</a>
  <br>
  <a href="addpassword">Dodaj hasło</a>
  <br>
  <a href="/">Wyświetl hasła</a>
</div>
<div align="center">
  <h2>Registration Succeeded!</h2>
  <span>Full name:</span><span th:text="${user.userName}"></span><br/>
  <span>Password:</span><span th:text="${user.password}"></span><br/>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>